@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400&family=Yantramanav:wght@100;300;400&display=swap');

:root{
    --light-color: #FFFFFF;
    --transparent-dark-color: rgba(0, 0, 0, 0.2);

    --thin-gray-border: 1px solid gray;
}

*{
    box-sizing: border-box;
}

body{
    min-width: 320px;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: "Yantramanav-Thin";
}



/*--- General styles ---*/

header{
    width: 100%;
}

.text{
    font-family: "Yantramanav";
}

.text-thin{
    font-family: "Yantramanav";
    font-weight: 100;
}

.small-size{
    /* font-family: "Yantramanav - Thin"; */
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
    letter-spacing: normal;
    line-height: normal;

}

.light-size{
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
}

.medium-size{
    font-size: 20px;
    letter-spacing: normal;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.small-size, .light-size, .medium-size{
    font-style: normal;
}

.title{
    text-align: center;
    font-family: "Nunito";
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38.4px;
}


.section-title{
    margin: 0 0 5px 0;
    padding: 0 1rem 0 1rem !important;
}

.title-light{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.12px;
    line-height: 38.4px;
}

.title-medium{
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    line-height: 36px; 
}

.title-big{
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38.4px;
    text-align: center;
}

.title-sub-text{
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    /* letter-spacing: 0.15px; */
}

.symbol{
    font-family: "Nunito";
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38.4px;
    text-align: center;
    text-transform: uppercase;
}

.title, .title-sub-text, .text{
    padding: 0 1em 0 1em;
}

blockquote{
    quotes: "\FF02" "\FF02";
}

.link{
    color: #20ab50;
    transition: 0.1s;
}

.link:hover{
    transform: scale(1.1);
}

button, input, .link{
    cursor: pointer;
}




/*--- Intro ---*/
.intro{
    min-height: 100vh;
    color: var(--light-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-icon{
    width: 142px;
    height: 57px;
    top: 33px;
    left: 35px;
    position: absolute;
}

.intro > .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.intro__inner{
    max-width: 575px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__inner .email-form{
    margin-top: 52px
}

.intro__inner__title{
    /* font-size: 60px;
    font-weight: 300;
    line-height: 62.4px; */
    margin: 0;
    padding: 0;
    margin: 0px 0 38px 0;
    font-weight: 400;
}

.intro__inner__text{
    width: 100%;
    font-weight: 300;
    box-sizing:content-box;
    padding: 0;
    letter-spacing: 0.1px;
    line-height: 27px;
}


.email-form{
    min-width: 320px;
    margin-top: 0px;
}

.email-form > input[type="email"]{
    width: 333px;
    height: 47px;
    padding-left: 1.8rem;
    border-radius: 22px;
    border: none;
    transform: translateX(0.75rem);
    color: #8c8c8c;
    font-family: "Yantramanav";
    font-size: 18px;
    letter-spacing: 0.5px;
}

.email-form > input[type="email"]:focus{
    outline: none;
}

.email-form > input[type="submit"]{
    width: 167px;
    height: 47px;
    color: var(--light-color);
    background-color: #20ab50;
    border: none;
    border-radius: 0 22px 22px 0;
    transform: translateX(-0.75rem);
    transition: 0.3s;
    font-family: "Yantramanav";
    font-size: 22px;
    letter-spacing: 0.55px;
}

.email-form > input[type="submit"]:hover{
    background-color: green;
    font-size: 18px;
}

#section-navigation{
    right: 54px;
    position: fixed;
}


.section-navigation__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-navigation__list > li > a{
    width: 8px;
    height: 8px;
    margin: 7px 0 7px 0;
    background-color: #DCDCDC;
    border-radius: 50%;
    transition: 0.5s;
    display: inline-block;
}

.section-navigation__list > li.active > a{
    width: 12px;
    height: 12px;
}

.intro-image-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    z-index: -1;
}

.intro-image{
    width: 105%;
    height: 105%;
    margin: -10px; /* To hide blurry edges */
    background-image: url("../files/images/blue_chair.jpeg");
    background-size: cover;
    filter: blur(5px);
}

.intro-image__cover{
    width: 100%;
    height: 100%;
    background-color: var(--transparent-dark-color);
}





/*--- Cards ---*/
.text-and-image-card-container{
    display: flex;
    flex-wrap: wrap;
}

.text-and-image-card-container:nth-child(2n + 2){ /* Wrap-reverse each second element */
    flex-wrap: wrap-reverse;
}

.card{
    width: 50%;
    min-width: 320px;
    min-height: 460px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.8px;
    
}


.image-card__image{
    width: 100%;
}

.card__text{
    width: 70%;
    max-width: 402px;
    min-width: 280px;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: thin;
    line-height: 24px;
}

.quote-card:has(.title) > .title{
    margin-top: 50px;
    
}

.quote-card:has(.title) .card__quote{
    margin-top: -10px;
}

.quote-card:has(.title) .quoted-text::before{
    transform: translate(-25px, 20px);
}

.quote-card:has(.title) .quoted-text::after{
    transform: translate(20px, -20px);
}

.quote-card:has(.title) .quote-author{
    transform: translateY(-20px);
}

.quote-card-without-title .quoted-text::before{
    transform: translate(-30px, 15px);
}

.quote-card-without-title .quoted-text::after{
    transform: translate(10px, 10px);
}

.quote-card-without-title .quoted-text{
    margin: 70px 0 40px 0;
}

.quote-card-without-title .quote-author{
 
}

.card__text{
    margin: 0px 0 26.5px 0;
}

.card:first-child > .title{
     margin-bottom: 37px;

}

.quoted-text{
    max-width: 345px;
    text-align: center;
    position: relative;
}

.card__quote{
    font-size: 20px;
    font-weight: 100;
    font-style: normal;

    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 10px 0 10px;
}

.quoted-text:before {
    content: "\FF02";
    text-align: left;
}

.quoted-text:after {
    content: "\FF02";
    text-align: right;
}

.quoted-text:before, .quoted-text:after {
    display: inline-block;
    width: 100%;
    color: #DCDCDC;
    font-size: 60px;
    font-weight: 800;
    font-family: "Nunito";
    font-style: italic;
}


.quote-author{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 26px;
    letter-spacing: 0.9px;
    line-height: normal;

}





/*--- Range section ---*/
.range-section{
    padding: 75px 0 75px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container{
    width: 91%;
}

.range-section__slider{
    width: 100%;
    height: 398px;
    margin: 137px 0 110px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

[data-slider-button]{
    width: 38px;
    height: 38px;
    color: #d9d9d9;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    font-size: 50px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-slider-button]:hover{
    color: #20ab50;
    border-color: #20ab50;
    box-shadow: 0 0 5px #20ab50;
}

[data-slider-button='prev']::before{
    content: "\2039";
    position: absolute;
    top: -18px;
    line-height: 60px;
}

[data-slider-button='next']::before{
    content: "\203A";
    position: absolute;
    top: -18px;
}

.range-section .slide{
    width: 60%;
    max-width: 465px;
    min-width: 200px;
    height: 400px; /*change this*/
    display: flex;
    justify-content: center;
    align-items: center;
} 

.range-section .slide > .slide__image{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: scale-down;
}

.range-section .slide > .slide__image.faded{
    opacity: 0;
}

.range-section__slider__slides{
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    list-style: none;
}

.symbol{
    display: block;
    margin-bottom: 23px;
}






/*--- Why section ---*/
.why-section{
    min-height: 800px;
    padding: 82px 0 35px 0;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.why-section .title-sub-text{
    margin-bottom: 10px;
}

 .why-section .image-container{
    display: none;
}

 .why-section_image{
    width: 100%;
}


.info-blocks-container{
    width: 100%;
    max-width: 1280px;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../files/images/why_section/shoes_image.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.info-block{
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.info-block__item{
    width: 231px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--light-color);
    border-radius: 10px;
}

.info-block__item > *{
    margin: 0;
    padding: 0;
    /* font-family: "Yantramanav"; */
}

.info-block__item > b{
    font-family: "Yantramanav";
    font-size: 16px;
    /* font-weight: 400; */
    font-style: normal;
    letter-spacing: 0.08px;
    line-height: 24px;
}

.info-block__item .text{
    /* font-family: "Yantramanav - Thin"; */
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.15px;
    line-height: 22px;
}



/*--- Find us section ---*/
.find-us-section{  
    padding: 92px 0 0 0;
}

.stockist-items-container{
    padding: 74px 74px 74px 74px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 70px;
}

.stockist-item{
    max-width: 128px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
}

.stockist-item > *{
    margin: 0.1rem;
}




/*--- Contact us ---*/
.contact-us-section{
    text-align: center;
}

.contacts-contaier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts-contaier > *{
    margin: 1rem 3rem 1rem 3rem
}






/*--- Sign up ---*/
.sign-up-section{
    min-height: 450px;
    margin-top: 5rem;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up-section > .text{
    font-size: 30px;
    font-family: "Nunito";
}



/*--- Common styles that differ from others ---*/
.range-section .title-sub-text, .why-section .title-sub-text, .find-us-section .title-sub-text{
    /* font-family: "Yantramanav - Thin"; */
    font-family: "Yantramanav"; /*"Yantramanav - Thin";*/
    font-weight: 100;
    letter-spacing: 0.09px;
    line-height: 40px;
}



/*Footer*/

footer{
    background-color: #DCDCDC;
}

footer > p{
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
}


/*--- media query---*/
@media screen and (max-width: 520px){
    .stockist-items-container{
        padding: 74px 15px 74px 15px;
        column-gap: 35px;
        row-gap: 35px;
    }
}

@media screen and (max-width: 900px){ /* To wrap intro slider's navigation */
    .email-form > input[type='submit']{
        width: 100px;
    }

    .email-form > input[type='email']{
        width: 200px;
    }
}

@media screen and (max-width: 1240px){
    .why-section{
        background-image: none;
        padding: 85px 0.5rem 0 0.5rem;
    }

    .why-section .image-container{
        display: block;
    }

    .info-blocks-container{
        flex-direction: column;
    }

    .info-blocks-container .info-block{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .info-blocks-container .info-block .info-block__item{
        width: 150px;      
        margin: 5px;
    }
} 

