:root{
    --light-color: #FFFFFF;
    --transparent-dark-color: rgba(0, 0, 0, 0.2);

    --thin-gray-border: 1px solid gray;
}

*{
    box-sizing: border-box;
}

body{
    min-width: 320px;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: "Yantramanav-Thin";
}



/*--- General styles ---*/

header{
    width: 100%;
}

.section-title{
    margin: 0 0 10px 0;
    padding: 0 1rem 0 1rem !important;
}

.title{
    text-align: center;
    font-family: "Nunito";
    line-height: 24.4px;
}

.title-sub-text{
    margin: 0;
    padding: 0;
    text-align: center;
}

.text{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.symbol{
    font-size: 24px;
}

.title, .title-sub-text, .text{
    padding: 0 1em 0 1em;
}

blockquote{
    quotes: "\FF02" "\FF02";
}

.link{
    color: #20ab50;
    transition: 0.1s;
}

.link:hover{
    transform: scale(1.1);
}

button, input, .link{
    cursor: pointer;
}




/*--- Intro ---*/
.intro{
    min-height: 100vh;
    color: var(--light-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-icon{
    width: 142px;
    height: 57px;
    top: 33px;
    left: 35px;
    position: absolute;
}

.intro > .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.intro__inner{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__inner__title{
    font-size: 60px;
    font-weight: 300;
    line-height: 62.4px;
}

.intro__inner__text{
    max-width: 570px;
    font-size: 20px;
}

.email-form{
    min-width: 320px;
    margin-top: 60px;
}

.email-form > input[type="email"]{
    width: 333px;
    height: 47px;
    padding-left: 1.8rem;
    border-radius: 22px;
    border: none;
    transform: translateX(0.75rem);
    color: #8c8c8c;
    font-family: "Yantramanav";
    font-size: 18px;
}

.email-form > input[type="email"]:focus{
    outline: none;
}

.email-form > input[type="submit"]{
    width: 167px;
    height: 47px;
    color: var(--light-color);
    background-color: #20ab50;
    border: none;
    border-radius: 0 22px 22px 0;
    transform: translateX(-0.75rem);
    transition: 0.3s;
    font-family: "Yantramanav";
    font-size: 18px;
}

.email-form > input[type="submit"]:hover{
    background-color: green;
}

#section-navigation{
    right: 54px;
    position: fixed;
}


.section-navigation__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-navigation__list > li > a{
    width: 8px;
    height: 8px;
    margin: 8.5px 0 8.5px 0;
    background-color: #DCDCDC;
    border-radius: 50%;
    transition: 0.5s;
    display: inline-block;
}

.section-navigation__list > li.active > a{
    width: 12px;
    height: 12px;
}

.intro-image-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    z-index: -1;
}

.intro-image{
    width: 105%;
    height: 105%;
    margin: -10px; /* To hide blurry edges */
    background-image: url("../files/images/blue_chair.jpeg");
    background-size: cover;
    filter: blur(5px);
}

.intro-image__cover{
    width: 100%;
    height: 100%;
    background-color: var(--transparent-dark-color);
}





/*--- Cards ---*/
.text-and-image-card-container{
    display: flex;
    flex-wrap: wrap;
}

.text-and-image-card-container:nth-child(2n + 2){ /* Wrap-reverse each second element */
    flex-wrap: wrap-reverse;
}

.cards .title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.card{
    width: 50%;
    min-width: 320px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-card__image{
    width: 100%;
}

.card__text{
    width: 70%;
    min-width: 280px;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 400;
}

.quoted-text{
    max-width: 324px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
}

.quoted-text:before {
    content: open-quote;
    text-align: left;
}

.quoted-text:after {
    content: close-quote;
    text-align: right;
    line-height: 60px;
}

.quoted-text:before, .quoted-text:after {
    display: inline-block;
    width: 100%;
    color: #DCDCDC;
    font-size: 72px;
    font-family: "Nunito";
    font-style: italic;
}


.quoted-text__author{
    text-align: center;
}





/*--- Range section ---*/
.range-section{
    padding: 72px 0 72px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider-container{
    width: 100%;
}

.range-section__slider{
    width: 100%;
    margin: 120px 0 120px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

[data-slider-button]{
    width: 38px;
    height: 38px;
    color: #d9d9d9;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    font-size: 50px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-slider-button]:hover{
    color: #20ab50;
    border-color: #20ab50;
    box-shadow: 0 0 5px #20ab50;
}

[data-slider-button='prev']::before{
    content: "\2039";
    position: absolute;
    top: -18px;
    line-height: 60px;
}

[data-slider-button='next']::before{
    content: "\203A";
    position: absolute;
    top: -18px;
}

.range-section .slide{
    width: 60%;
    max-width: 465px;
    min-width: 200px;
    height: 240px; /*change this*/
    display: flex;
    justify-content: center;
    align-items: center;
} 

.range-section .slide > .slide__image{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: scale-down;
}

.range-section .slide > .slide__image.faded{
    opacity: 0;
}

.range-section__slider__slides{
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    list-style: none;
}

.symbol{
    display: block;
    margin-bottom: 38px;
}






/*--- Why section ---*/
.why-section{
    min-height: 800px;
    padding: 85px 60px 35px 60px;
    background-image: url("../files/images/why_section/shoes_image.png");
    background-color: #EDEDED;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

 .why-section .image-container{
    display: none;
}

 .why-section_image{
    width: 100%;
}


.info-blocks-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-block{
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.info-block__item{
    width: 240px;
    margin-bottom: 10px;
    padding: 13px;
    background-color: var(--light-color);
    border-radius: 10px;
}

.info-block__item > *{
    margin: 0;
    padding: 0;
    font-family: "Yantramanav";
}

.info-block__item .text{
    font-size: 15px;
    font-weight: 400;
}



/*--- Find us section ---*/
.find-us-section{  
    margin-top: 100px;
}

.stockist-items-container{
    padding: 74px 74px 74px 74px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 70px;
}

.stockist-item{
    max-width: 128px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
}

.stockist-item > *{
    margin: 0.1rem;
}




/*--- Contact us ---*/
.contact-us-section{
    text-align: center;
}

.contacts-contaier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts-contaier > *{
    margin: 1rem 3rem 1rem 3rem
}






/*--- Sign up ---*/
.sign-up-section{
    min-height: 450px;
    margin-top: 5rem;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up-section > .text{
    font-size: 1.2rem;
    font-family: "Nunito";
}


/*Footer*/

footer{
    background-color: #DCDCDC;
}

footer > p{
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
}


/*--- media query---*/
@media screen and (max-width: 520px){
    .stockist-items-container{
        padding: 74px 15px 74px 15px;
        column-gap: 35px;
        row-gap: 35px;
    }
}

@media screen and (max-width: 900px){ /* To wrap intro slider's navigation */
    .email-form > input[type='submit']{
        width: 100px;
    }

    .email-form > input[type='email']{
        width: 200px;
    }
}

@media screen and (max-width: 1240px){
    .why-section{
        background-image: none;
        padding: 0 0.5rem 0 0.5rem;
    }

    .why-section .image-container{
        display: block;
    }

    .info-blocks-container{
        flex-direction: column;
    }

    .info-blocks-container .info-block{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .info-blocks-container .info-block .info-block__item{
        width: 150px;      
        margin: 5px;
    }
} 