:root{
    --light-color: #FFFFFF;
    --transparent-dark-color: rgba(0, 0, 0, 0.2);

    --thin-gray-border: 1px solid gray;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Yantramanav-Thin";
}



/*--- General styles ---*/

header{
    width: 100%;
}

.hidden{
    visibility: hidden;
    display: none;
}

.title{
    text-align: center;
    font-family: "Nunito";
}

.symbol{
    font-size: 1.5rem;
}

.link{
    color: lawngreen
}




/*--- Intro ---*/
.intro{
    min-height: 800px;
    color: var(--light-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-icon{
    width: 142px;
    height: 57px;
    margin-top: 33px;
    margin-left: 35px;
    position: absolute;
}

.intro > .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.intro__inner{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 16, 16);
}


.intro__inner__title{
    margin-top: 0;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38.4px;
}

.intro__inner__text{
    margin-top: 0;
    max-width: 570px;
    font-size: 20px;
    font-family: "Yantramanav";
    text-align: center;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
}

.email-form{
    width: 100%;
    max-width: 460px;
    min-width: 320px;
}

.email-form > input[type="email"]{
    width: 70%;
    height: 50px;
    padding-left: 1.8rem;
    border-radius: 22px;
    border: none;
    transform: translateX(0.75rem);
}

.email-form > input[type="email"]:focus{
    outline: none;
}

.email-form > input[type="submit"]{
    width: 28%;
    height: 50px;
    color: var(--light-color);
    background-color: #20ab50;
    border: none;
    border-radius: 0 20px 20px 0;
    transform: translateX(-0.75rem);
    transition: 0.3s;
}

.email-form > input[type="submit"]:hover{
    background-color: green;
}

.intro-slide-navigation{
    right: 56px;
    position: absolute;
}

.container {
    display: flex;
  }
  .container > div:first-child {
    margin-right: auto;
  }
  .container > div:last-child {
    margin-left: auto;
  }

.intro-slide-navigation__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-slide-navigation__list > li{
    width: 8px;
    height: 8px;
    margin: 0 0 15px 0;
    background-color: #DCDCDC;
    border-radius: 50%;
}

.intro-slide-navigation__list > li.active{
    width: 12px;
    height: 12px;
}

.intro-image{
    width: 100%;
    height: 100%;
    background-image: url("../files/images/blue_chair.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    filter: blur(5px);
    z-index: -1;
}

.intro-image__cover{
    width: 100%;
    height: 100%;
    background-color: var(--transparent-dark-color);
}





/*--- Cards ---*/
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards .title{
    font-size: 30px;
}

.card{
    width: 50%;
    min-width: 320px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-card__image{
    width: 100%;
}

.card__text{
    width: 60%;
    max-width: 400px;
    min-width: 280px;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 400;
}

.quoted-text{
    max-width: 324px;
    text-align: center;
    font-size: 20px;

    font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
}

blockquote:before {
  content: open-quote;
  text-align: left;
}

blockquote:after {
  content: close-quote;
  text-align: right;
}

blockquote:before, blockquote:after {
    display: inline-block;
    width: 100%;
    color: #DCDCDC;
    font-size: 72px;
    font-family: "Nunito";
}


.quoted-text__author{
    text-align: center;
}





/*--- Range section ---*/
.range-section{
    padding: 82px 0 82px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-section__title{
    margin: 0;
}

.slider-container{
    width: 100%;
}

.range-section__slider{
    width: 100%;
    margin: 7rem 0 7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.range-section__slider__image{
    width: 60%;
    max-width: 465px;
    min-width: 200px;
}

.range-section__slider__left-arrow, .range-section__slider__right-arrow{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: contain;
}

.range-section__slider__left-arrow{
    background-image: url("../files/images/slider_elements/arrow_left.png");
}

.range-section__slider__right-arrow{
    background-image: url("../files/images/slider_elements/arrow_right.png");
}

.slider-count{
    margin-top: 2rem;
}



/*--- Why section ---*/
.why-section{
    padding: 75px 0 75px 0;
    background-color: var(--transparent-dark-color);
}

.why-section > .title{
    margin-top: 0;
    font-size: 30px;
}

.why-section > .text{
    text-align: center;
}

.why-section > .image-container{
    text-align: center;
}

.why-section_image{
    width: 50%;
    min-width: 320px;
}

.info-block{
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-block__item{
    width: 15%;
    min-width: 320px;
    margin: 0.2rem;
    padding: 0.5rem;
    background-color: var(--light-color);
    border-radius: 10px;
}





/*--- Find us section ---*/
.find-us-section{  
    margin-top: 5rem;
}

.find-us-section > .text{
    text-align: center;
}

.stockist-items-container{
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stockist-item{
    width: max-content;
    min-width: 128px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.stockist-item > *{
    margin: 0.1rem;
}




/*--- Contact us ---*/
.contact-us-section{
    text-align: center;
}

.contact-us-section > .text{
    font-size: 1.2rem;
}

.contacts-contaier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts-contaier > *{
    margin: 1rem 3rem 1rem 3rem
}






/*--- Sign up ---*/
.sign-up-section{
    margin-top: 5rem;
    padding: 5rem;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-up-section > .title{
    margin: 0;
    padding: 0;
}

.sign-up-section > .text{
    font-size: 1.2rem;
    font-family: "Nunito";
    margin: 0;
    padding: 0;
}


/*Footer*/

footer{
    background-color: #DCDCDC;
}

footer > p{
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
}



/*--- media query---*/
@media screen and (max-width: 900px){ /* To wrap intro slider's navigation */
    .intro-slide-navigation{
        width: 100%;
        position: static;
    }
    
    .intro-slide-navigation{
        margin: 1rem 0 1rem 0;
    }

    .intro-slide-navigation__list{
        flex-direction: row;
    }

    .intro-slide-navigation__list > li{
        margin: 0 15px 0 15px;
    } 
}