/*--- Cards ---*/
.text-and-image-card-container{
    display: flex;
    flex-wrap: wrap;
}

.text-and-image-card-container{
	&:nth-child(2n + 2){ /* Wrap-reverse each second element */
    	flex-wrap: wrap-reverse;
	}
}

.card{
    width: 50%;
    min-width: 320px;
    min-height: 460px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-card__image{
    width: 100%;
}

.card__text{
    width: 70%;
    max-width: 402px;
    min-width: 280px;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
}

.card__quote{
    margin: 0px 10px 0 10px;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 30px;
}

.quoted-text{
    max-width: 345px;
    text-align: center;
    position: relative;
}


.quote-author{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 26px;
    letter-spacing: 0.9px;
    line-height: normal;

}



.card:not(.quote-card){
	> .title{
    	line-height: 30px;
	}
}

.card__text{
    margin: 0 0 23.5px 0;
}

.card:first-child{
	 > .title{
    	margin-bottom: 37px;
	}
} 

.quoted-text{
	&::before{
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAGaSURBVEhLtZXbboMwEEQNCbk9gPj/rwy5QSC0OQ4DG+MHqNSRLGwY78yOnTb5ecP9I9LhuQh/8RLtoGkad71eXdu2LkkSXzjPc3c8Hv06BFyGuGmaurIsXZZl8w4gPB4Pdz6fXVVV7nK5+Ofz+YwW7/t+5Ngn70FU4H6/e/c4gchzs9kMjAlwX6+X5zMHmNhut6OZmQBOVVwkWkVARQS+UxwR5uIfDge/H8wEiAcBCxxZVxaKQwXBbrebC8gdByxHAsXpIgSF67r2c/jaFxXgA2RaVjwUQJjiVlDgQPluz4e5XU99vdF13Vc8bFY8MRCnXCuB/X7/Fdc4g8gGILcSYFMIorRXFy6DeKId4P52u/m5HDGIh00hMCMBiQDdOGEUCB0BziB2exDWZfgq9o7GroEXgCj3kGy7MfdcBjqwnQLFozXwAhysrpsAiQL8aOwG5rjXj1HgPd2GhlI+UFybOAsNOgsPWJcBLnPLjUXk/5oiwEBMeZM/5KIoZu91wIpTwP3pdBpWH6z+h2PFlmAKcSHWFAerBdbBuV8ojm6aOks2HQAAAABJRU5ErkJggg==');
    text-align: left;
	}
}

.quoted-text{
	&::after{
    	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAVCAYAAAC33pUlAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAHySURBVEhLvZZbk6owEIQHVEQpL7xY/v9f56MPVonXdb8snR0C6JtdNRsI3enOJHvOZj+/sC9h0Iyp5/NpWZbFd54Z8zyP8x7wgbiCNGB0Z4hFkrEXDoHvKceH7pldLhe7Xq92OBxsOp1GIrT7/W77/d6KorD5fB7mBfiPx8OaprHJZNLO/pltt9tQvZh8ZFFGChNGgDFGPrmyosHMa5gjMOZoB83YGXW73WJpMQlTwEk1dEkYNFMr2AELaxc80zqSUgIhZMKCfEND8V7XtZVlGbgdM7aPGSWoJSyyXC7b2S7gw6MwgY8RAWezWQzcMYNEIfatYg7hkJnCMAJ0esZEHQrv4WcLTHQ2AkIEtKKqqnb2H2ojozdkR4RTO0HHDBEpgRLyjhFt9LsV+M5FUKvQUNqVx0czEnMx1IoU8NF5M+a82eDOTqdTuFUS6oBXq1UvpQD/fD7HMJjBXSwWtl6vw5wQVoWgUUU6EmHMQgrg4fkCzwREk7a9swIGEmpE4K+vB3yVgG4sXJjhXDhkfpl5Bohox2aziTtMcTwegw4uhtxi3ne7XWhjirgCZBJx69QGnsfOCqAhBHzp9K/M6M6USu1QrzFkgTFwOWToz3esE+G/GNoAJBQQ8U3mKeD7b5/4PXvIFAspxDuIq3qn+eLfIGYvdUjU90OjHVcAAAAASUVORK5CYII=');
    	text-align: right;
	}
}

.quoted-text::before, .quoted-text::after{
    display: inline-block;
    width: 100%;
    
}
/*change*/

.quote-card-with-title{
	.quoted-text{
    	padding: 38px 0 38px 0; 
	}
} 

.quote-card-with-title{
	.quoted-text{ 
		&::before{
    		height: 42px;		
		}	
	}
}

.quote-card-with-title{ 
	.quoted-text{
		&::after{
    		height: 25px;
		}
	}
}

.quote-card-without-title{
	.quoted-text{
    	padding: 68px 0 30px 0;
	}
}


.quote-card-without-title {
	.quoted-text{
		&::before{
    		height: 40px;
		}
	}
}

.quote-card-without-title {
	.quoted-text{
		&::after{
    		height: 20px;
		}
	}
}

.quote-card-without-title, .quote-card-with-title{
	.quote-author{
		   line-height: 20px;
	}
}