/*--- Footer ---*/
footer{
    /* margin-top: 50px; */
    min-height: 40px;
    color: #FFFFFF;
    background-color: #DCDCDC;
    padding: 12px 30px 12px 30px;
}

footer{
	> .text{
    	margin: 0;
    	font-size: 14px;
    	letter-spacing: 0.35px;
	}
}