/*--- Sign up ---*/
.sign-up-section{
    min-height: 410px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.sign-up-section{
	> .email-form{
    	margin-top: 40px
	}
}


.sign-up-section{
	> .text{
    	font-size: 22px;
    	line-height: 38px;
	}
}